.signin-container{
    height: 100vh;
}


.authImg{
    position: absolute;
    width: 100%;
    left: 0px;
    right: 0px;
    height: 100%;
    bottom: 0px;
    top: 0px;
    object-fit: cover;
    z-index: -99;
}
.authImg-container{
    position: relative;
    color: white;
}

.auth__logo{
    font-weight: bold;
    font-size: 56px;
    font-family: "Montagu Slab", serif;
}

.authImg__desc--header{
    font-size: 40px;
    font-weight: bold;
}
.authImg__desc p{
    font-size: 18px;
}
.authImg__text{
    max-width: 500px;
}