.filter-tab{
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.5s ease;
    border-bottom: 3px solid transparent;
}

.filter-tab.active{
    border-bottom: 3px solid var(--main-color);
    color: var(--main-color);
}