.job-img-container{
    min-width: 100px;
    min-height: 100px;
    width: 100px;
    height: 100px;
    overflow: hidden;
}
.job-img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.job-description{
    color: rgba(255, 255, 255, 0.63);
    font-size: 13px;
    max-width: 600px;
}

.job-location{
    font-size: 13px;
}

.job-container{
    border-radius: 8px;
    background: linear-gradient(90deg, rgba(36,36,36,1) 0%, rgba(32,40,50,1) 100%);
}


.job-description {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 768px) {
    .apply-btn{
        width: 100% !important;
    }
}