@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --main-color: #2A69B5;
}

body{
    font-family: "Poppins", serif;
    background-color: #18181B;
    color: white;
}

input{
    background: none;
    border: 1px solid #66666653;
    border-radius: 12px;
    padding: 10px 20px;
}
input:focus-within{
    outline: none;
}

label{
    color: #666666;
    margin-bottom: 10px;
}

a{
    color: black;
}

.password-toggle-button{
    background: none;
    border: none;
    color: #666666c5;
    font-size: 18px;
    margin-bottom: 10px;
}

.main_btn{
    background-color: #111111;
    border-radius: 32px;
    padding: 13px 20px;
    color: white;
    border: none;
}
.disabeld_btn{
    background-color: #a4a4a4;
}

.small_text{
    font-size: 14px;
}
.line__seprator{
    display: flex;
    align-items: center;
    gap: 20px;
}
.line__seprator div{
    width: 100%;
    height: 1px;
    background-color: #66666648;
}

.back__btn{
    background-color: #111111;
    color: white;
    font-size: 24px;
    border:none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
}

select{
    background: none;
    border: 1px solid var(--main-color);
    padding: 10px 20px;
    color: white;
    min-width: 250px;
    margin-right: 20px;
}

select:focus-within{
    outline: none;
}

option{
    background-color: #18181B;
    color: white;
}

.main-btn{
    background-color: var(--main-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.gradient-btn{
    background: linear-gradient(90deg, rgb(40, 97, 167) 0%, rgb(31, 45, 113) 100%);
}

.main-input{
    background: none;
    color: white;
    border: 1px solid #2a69b56c;
    border-radius: 5px;
    padding: 10px 20px;
    width: 100%;
}

a{
    text-decoration: none;
}

.nav-tabs .nav-link {
    cursor: pointer;
    padding: 10px 20px;
}
  
.nav-tabs .nav-link.active {
    font-weight: bold;
}
